<div id="post_content">
  <h1 class="title"><%= @post.title.upcase %></h1>

  <p class="date_and_author">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago | 
    <%= link_to 'EDIT',   edit_post_path(@post) %> | 
    <%= link_to 'DELETE', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%= link_to 'BACK',   posts_path %>
  </p>
  <hr/>
  <p class="body">
    <%= @post.body %>
  </p>
  <div id="comment">
    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>
    <h3>Join the Discussion</h3>
    <%= render "comments/form" %>
  </div>
</div>
